.App {
  margin: auto;
  padding: 10px;
  text-align: center;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #fdca40;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.card-body {
  border-style: solid;
  border-color: #fdca40;
  border-radius: 25px;
  background: #000000;
  max-width: 750px;
  margin: 0 auto;
  padding: 35px 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-footer {
  margin: 30px auto;
  color: #fdca40;
}
