h1 {
  color: #FFFFFF;
  font-weight: 900;
  padding: 20px;
  text-transform: uppercase;
}

strong {
  color: #FFFFFF;
  font-weight: bold;
}

.input {
  background-color: #000000; 
  border: 2px solid #fdca40;
  border-radius: 5px;
  color: #fdca40;
  padding: 5px 20px;
  font-weight: bold;
}

.input:focus {
  outline: none
}

::placeholder {
  color: #fdca40;
}

.geo-btn {
  color: #fdca40;
  border-style: solid;
  border-color: #fdca40;
}

.geo-btn:hover {
  background-color: #fdca40; 
  color: #000000;
}

.srch-btn {
  color: #fdca40;
  border-style: solid;
  border-color: #fdca40;
  font-weight: bold;
}

.srch-btn:hover {
  background-color: #fdca40; 
  color: #000000;
}

.WeatherDescription {
  max-width: 390px;
  margin: 5px auto;
  font-size: large;
  color: #fdca40;
}